<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{master-layout/master_layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="author" content="Saroj">
    <link rel="icon" href="favicon.ico">
    <link href="css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <title>BankApp</title>
</head>
<body>
<th:block layout:fragment="content">
    <div>
       <h3>All Customers</h3>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">S.N.</th>
                <th scope="col">Account Number</th>
                <th scope="col">Available Balance</th>
                <th scope="col">Account Type</th>

            </tr>
            </thead>
            <tbody>

            <tr class="table-danger" th:each="acc,i:${account}">
                <th scope="row" th:text="${i.count}"></th>
                <td th:text="${acc.accountNumber}"></td>
                <td th:text="${acc.balance}"></td>
                <td th:text="${acc.accountType.accountTypeName}"></td>


            </tr>

            </tbody>
        </table>
    </div>

    <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
        <div class="card-header">Bank's  Net Liquidity</div>
        <div class="card-body">
            <h4 class="card-title">Bank's net liquidity is: </h4>
            <p class="card-text" th:text="${netAmount}"></p>
        </div>
    </div>


</th:block>

</body>
</html>